.fColumn {
  display: flex;
  flex-direction: column;
}

.paragraph {
  font-size: 1.35rem;
  line-height: 1.5;
}

.mediumGap {
  gap: 1rem;
}

.largeGap {
  gap: 2.5rem;
}

.bigHeading {
  font-size: 1.75rem;
}
